@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

header, footer {
    display: block;
}

html {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    color: #444444;
    font-size: 12px;
    height: 100%;
}

header h1 {
    font-size: 3em;
    font-family: 'Droid Serif', serif;
    font-weight: 800;
    text-shadow: 8px 8px 8px #ddd;
}

footer {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    height: 3em;
    width: 1000px;
    padding-top: 2em;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    list-decoration: none;
    padding: 0;
    margin: 0;
}

footer ul li a {
    border-right: 2px solid #444444;
    padding: 1em 3em 1em 3em;
    font-size: 1.1em;
    letter-spacing: 2px;
}

footer ul li:first-child a {
    border-left: 2px solid #444444;
}

#schedules {
    -moz-column-count: 2;
    -moz-column-gap: 10em;
    -webkit-column-count: 2;
    -webkit-column-gap: 10em;
    column-count: 2;
    column-gap: 10em;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin: 2em 0 6em 0;
    padding: 0;
}

caption {
    text-decoration: underline;
    font-size: 1.6em;
    font-weight: bold;
}

thead tr {
    border-bottom: 1px solid #444444;
    margin: 0;
}

th {
    font-size: 1.4em;
    letter-spacing: 0.1em;
}

th.hour, td.hour {
    padding-right: 3em;
}

th.speech {
    width: 20em;
    padding-right: 1em;
}

th.speaker {
    width: 200px;
}

div#res {
    display: none;
    padding: 0;
    margin: 0;
}

h2#title {
    text-align: left;
    margin: 0;
    padding: 0;
}

h3#speaker {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-style: italic;
}

p#summary {
    text-align: left;
    padding: 0;
    margin: 1em 0;
}

p#details {
    display: inline;
    text-align: right;
    padding: 0;
    margin: 0;
    font-style: italic;
}

tr.template {
    display: none;
}
