html {
    width: 800px;
    text-align: center;
    margin: 0 auto;
    color: #444444;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin: 0;
    padding: 0;
}

thead tr {
    border-bottom: 1px solid #444444;
    margin: 0;
}

th.room {
    width: 300px;
    padding-right: 1em;
}

th {
    font-size: 1.8em;
    letter-spacing: 0.1em;
}

th.hour, td.hour {
    padding-right: 2em;
}

td a.user {
    background-color: #FFD49E;
}

td a.developer {
    background-color: #BDBDFF;
}

div#res {
    display: none;
}
