html {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    color: #444444;
}

#schedules {
    -moz-column-count: 2;
    -moz-column-gap: 5em;
    -moz-column-rule: 1px solid #444444;
    -webkit-column-count: 2;
    -webkit-column-gap: 5em;
    -webkit-column-rule: 1px solid #444444;
    column-count: 2;
    column-gap: 5em;
    column-rule: 1px solid #444444;
}

table {
    border-collapse: collapse;
    text-align: left;
    margin: 2em 0 6em 0;
    padding: 0;
}

caption {
    text-decoration: underline;
    font-size: 1.2em;
}

thead tr {
    border-bottom: 1px solid #444444;
    margin: 0;
}

th {
    font-size: 1.4em;
    letter-spacing: 0.1em;
}

th.hour, td.hour {
    padding-right: 3em;
}

th.speech {
    width: 300px;
    padding-right: 1em;
}

th.speaker {
    width: 200px;
}

div#res {
    display: none;
    padding: 0;
    margin: 0;
}

h2#title {
    text-align: left;
    margin: 0;
    padding: 0;
}

h3#speaker {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-style: italic;
}

p#summary {
    text-align: left;
    padding: 0;
    margin: 1em 0;
}

p#details {
    display: inline;
    text-align: right;
    padding: 0;
    margin: 0;
    font-style: italic;
}

tr.template {
    display: none;
}
